
*, *:before, *:after {

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    box-sizing: border-box;

}

.box {

    position: relative;

    background: #ffffff;

    border-top: 2px solid #c1c1c1;

    margin-bottom: 20px;

    /* -webkit-border-radius: 3px;
    
    -moz-border-radius: 3px;
    
    border-radius: 3px; */

    width: 100%;

    display: block;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);

}

.box .box-header {

    position: relative;

    border-bottom: 0px solid #f4f4f4;

    color: #444;

    height: 42px;

}

.box .box-header:before, .box .box-header:after {

    display: table;

    content: " ";

}

.box .box-header > .fa, .box .box-header > .glyphicon {

    padding: 10px 10px 10px 10px;

}

.box .box-header .box-title {

    padding: 10px 10px 10px 0;

}

.box .box-header > .fa, .box .box-header > .glyphicon, .box .box-header .box-title {

    display: inline-block;

    margin: 0;

    font-size: 18px;

    font-weight: 400;

    float: left;

    cursor: default;

}

.box.box-primary .box-header > .icon-status, .box.box-primary .box-header .box-title {

    color: #3c8dbc;

}

.box .box-header .box-tools .dropdown {

    padding: 5px 10px 5px 5px;

}

.box .box-header .box-tools .dropdown {

    display: none;

}

.box .box-header .box-tools .dropdown.open, .box:hover .box-header .box-tools .dropdown {

    display: inline-block;

}

.box .box-body {

    padding: 10px;

}

.box .box-footer {

    border-top: 1px solid #f4f4f4;

    padding: 10px;

    background-color: #ffffff;

    height: 40px;

}

.box .box-header .box-tools .btn-custom {

    color: #333;

    background-color: #fff;

    /*border-color: #ccc;*/

}

.box .box-header .box-tools .dropdown .dropdown-menu {

    left: -136px;

    top: 75%;

}

.box .box-header .box-tools .dropdown a.dropdown-toggle {

    color: #c1c1c1;

}

.box .box-header .box-tools .dropdown a:hover.dropdown-toggle, .box .box-header .box-tools .dropdown.open a.dropdown-toggle {

    color: #adadad;

}

.box.box-primary {

    border-top-color: #3c8dbc;

}

.box.box-primary .box-header .box-tools .dropdown a.dropdown-toggle {

    color: rgba(60, 141, 188, 0.8);

}

.box.box-primary .box-header .box-tools .dropdown a:hover.dropdown-toggle, .box.box-primary .box-header .box-tools .dropdown.open a.dropdown-toggle {

    color: #3c8dbc;

}

.box-tools .dropdown.open .dropdown-menu > li:hover.delete > a {

    background: #d9534f;

    color: #fff;

}
