*
{
     /* border: 1px solid #3A5FCD; */
}

html
{
    overflow: hidden; /* Untuk memunculkan scroll pada chrome app */
}

body
{
    min-width: 670px;
    margin-top: 50px;
}
.navbar-white {
    background: #ffffff;
}

.row
{
    margin-right: 0;
    margin-left: 0;
}

.navbar-nav.navbar-right:last-child
{
    margin-right: 0;
}

div.container-fluid.margin
{
    margin: 10px 2% 0 2%;
}

.margin-span
{
    margin-right: 7px;
}

.margin-icon-left
{
    margin-left: 7px;
}

div.margin-top-20
{
    margin-top: 20px;
}

/* reset bootstrap */
th.col-number, th.col-aksi, td.col-aksi
{
    width: 10px;
}

/* reset bootstrap */
th.col-aksi
{
    color: #fff;
}

/* reset bootstrap */
.table > thead > tr > th.col-aksi, .table > tbody > tr > td.col-aksi
{
    border-color: transparent;
}

/* reset bootstrap */
.table
{
    margin-bottom: 0;
}

div.panel.jabatan
{
    min-width: 200px;
    max-width: 260px;
    margin: auto;
    margin-bottom: 20px;
}

div.panel-body > table.table
{
    margin-bottom: 5px;
}

div.panel-heading > h4
{
    margin-top: 6px;
    margin-bottom: 7px;
}

table.table.jabatan > tbody > tr > td.jabatan
{
    padding: 15px 0;
}

div.panel.jabatan > div.panel-body > a:hover,
div.panel.jabatan > div.panel-body > a:focus,
div.panel.jabatan > div.panel-body > a.active
{
    text-decoration: none;

    color: #3c763d;
}

/* custom ui-select2 */
.select2-container .select2-choice
{
    height: auto;
    padding: 3px 0 3px 8px;
}

label.control-label.normal
{
    font-weight: normal;
}

.width-200
{
    width: 200px;
}

.gray
{
    color: #ddd;
}
.green
{
    color: #3c763d;
}

.red
{
    color: #a94442;
}


/*************************************************************/
/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.well[ui-view]
{
    height: 65px;
}

.ui-view-container
{
    position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave
{
    position: absolute;
    right: 0;
    left: 0;

    -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
         -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
}

[ui-view].ng-enter
{
    -webkit-transform: scale3d(.5, .5, .5);
       -moz-transform: scale3d(.5, .5, .5);
            transform: scale3d(.5, .5, .5);

    opacity: 0;
}

[ui-view].ng-enter-active
{
    -webkit-transform: scale3d(1, 1, 1);
       -moz-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);

    opacity: 1;
}

[ui-view].ng-leave
{
  /*padding-left: 0px;*/
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    opacity: 1;
}

[ui-view].ng-leave-active
{
  /*padding-left: 100px;*/
    -webkit-transform: translate3d(100px, 0, 0);
       -moz-transform: translate3d(100px, 0, 0);
            transform: translate3d(100px, 0, 0);

    opacity: 0;
}