*
{
     /* border: 1px solid #3A5FCD; */
}

html
{
    overflow: hidden; /* Untuk memunculkan scroll pada chrome app */
}

body
{
    min-width: 670px;
    margin-top: 50px;
}
.navbar-white {
    background: #ffffff;
}

.row
{
    margin-right: 0;
    margin-left: 0;
}

.navbar-nav.navbar-right:last-child
{
    margin-right: 0;
}

/*div.container-fluid.margin
{
    margin: 10px 2% 0 2%;
}*/

.margin-span
{
    margin-right: 5px;
}

.margin-icon-left
{
    margin-left: 7px;
}

/*div.margin-top-20
{
    margin-top: 20px;
}*/

/* reset bootstrap */
th.col-number {
    width: 10px;
}

th.col-aksi, td.col-aksi
{
    width: 55px;
}

/* reset bootstrap */
th.col-aksi
{
    color: #fff;
}

/* reset bootstrap */
.table > thead > tr > th.col-aksi, .table > tbody > tr > td.col-aksi
{
    border-color: transparent;
}

/* reset bootstrap */
.table
{
    margin-bottom: 0;
}