<form class="form-horizontal" name="formPenggajian">
  <div class="modal-header">
    <h4 class="modal-title">
      Proses {{modalPenggajianCtrl.aksi}} Penggajian - {{modalPenggajianCtrl.jenis}}
    </h4>
  </div>
  <div class="modal-body">

    <!-- S:Pilih Karyawan -->
    <div class="form-group form-group-sm" ng-class="{'has-error': formPenggajian.karyawan.$invalid, 'has-success': formPenggajian.karyawan.$valid}">
      <label class="col-sm-3 control-label">Nama Depan</label>
      <div class="col-sm-5">

        <select name="karyawan" class="form-control input-sm" ng-model="modalPenggajianCtrl.objectKaryawan" ng-options=" objectKaryawan.namaDepan +' '+ objectKaryawan.namaBelakang group by objectKaryawan.rincianJabatan.jabatan for objectKaryawan in modalPenggajianCtrl.arrayKaryawan | filter:modalPenggajianCtrl.jenis track by objectKaryawan.nip" ng-change="modalPenggajianCtrl.resetPenggajian()" required>
          <option value="">-- Pilih Karyawan --</option>
        </select>
        <div class="help-block" ng-messages="formPenggajian.karyawan.$error">
          <small class="help-block" ng-message="required">* Karyawan wajib di isi</small>
        </div>
      </div>
    </div>
    <!-- E:Pilih Karyawan -->

    <div class="form-group form-group-sm" ng-class="{'has-error': formPenggajian.tanggal.$invalid, 'has-success': formPenggajian.tanggal.$valid}">
      <label class="col-sm-3 control-label">Pertama Kerja</label>
      <div class="col-sm-4">

        <div class="input-group input-group-sm">
          <input name="tanggal" type="text" class="form-control text-center" datepicker-popup="{{modalPenggajianCtrl.format}}" ng-model="modalPenggajianCtrl.tanggalPenggajian" is-open="modalPenggajianCtrl.opened" min-date="modalPenggajianCtrl.minDate" datepicker-options="modalPenggajianCtrl.dateOptions" ng-required="true" close-text="Tutup" ng-click="modalPenggajianCtrl.open($event)" />
          <span class="input-group-btn">
            <button type="button btn-sm" class="btn btn-default" ng-click="modalPenggajianCtrl.open($event)"><i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>

      </div>
      <div class="col-sm-4">
        <div class="help-block" ng-messages="formPenggajian.tanggal.$error">
          <small class="help-block" ng-message="required">* Tanggal wajib di isi</small>
        </div>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Jabatan</label>
      <div class="col-sm-4">
        <input name="totalGaji" ng-model="modalPenggajianCtrl.objectKaryawan.jabatan" class="form-control" type="text" disabled>
      </div>
    </div>

    <!-- S:Pilih Rumus Gaji -->
    <div class="form-group form-group-sm" ng-class="{'has-error': formPenggajian.rumusgaji.$invalid, 'has-success': formPenggajian.rumusgaji.$valid}">
      <label class="col-sm-3 control-label">Shift</label>
      <div class="col-sm-5">

        <select name="rumusgaji" class="form-control input-sm" ng-model="modalPenggajianCtrl.obj.rincianRumusGaji" ng-options=" objectRumusGaji.shift group by objectRumusGaji.rincianJabatan.jenis for objectRumusGaji in modalPenggajianCtrl.arrayRumusGaji  | filter:{jenis:modalPenggajianCtrl.jenis, jabatan:modalPenggajianCtrl.objectKaryawan.jabatan} track by objectRumusGaji.idRumusGaji" required>
          <option value="">-- Pilih Shift --</option>
        </select>
        <div class="help-block" ng-messages="formPenggajian.rumusgaji.$error">
          <small class="help-block" ng-message="required">* Shift wajib di isi</small>
        </div>
      </div>
    </div>
    <!-- E:Pilih Rumus Gaji -->

    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Jenis</label>
      <div class="col-sm-4">
        <input name="totalGaji" ng-value="modalPenggajianCtrl.obj.rincianRumusGaji.jenis" class="form-control" type="text" disabled>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Harga</label>
      <div class="col-sm-4">
        <input name="totalGaji" ng-value="modalPenggajianCtrl.obj.rincianRumusGaji.harga" class="form-control" type="text" disabled>
      </div>
    </div>

    <!-- S:input kehadiran -->
    <div class="form-group form-group-sm" ng-class="{'has-success': formPenggajian.kehadiran.$valid, 'has-error': formPenggajian.kehadiran.$invalid}">
      <label class="col-sm-3 control-label">Kehadiran</label>
      <div class="col-sm-2">
        <input name="kehadiran" ng-model="modalPenggajianCtrl.obj.kehadiran" class="form-control" type="text" placeholder="Nol" ng-maxlength="1" required>

      </div>
      <div class="col-sm-4">
        <div class="help-block" ng-messages="formPenggajian.kehadiran.$error">
          <small class="help-block" ng-message="required">* Minimal angka nol</small>
          <small class="help-block" ng-message="maxlength">* Tidak masuk akal</small>
        </div>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Uang Hadir</label>
      <div class="col-sm-4">
        <input name="totalGaji" ng-value="modalPenggajianCtrl.obj.uangHadir" class="form-control" type="text" disabled>
      </div>
    </div>
    <!-- E:input kehadiran -->

    <!-- S:input gaji pokok -->
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Gaji pokok</label>
      <div class="col-sm-4">
        <input name="gajiPokok" ng-model="modalPenggajianCtrl.obj.gajiPokok" class="form-control" type="number" placeholder="Gaji pokok" disabled>
      </div>
    </div>

    <!-- S:input bonus -->
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Bonus</label>
      <div class="col-sm-4">
        <input name="bonus" ng-model="modalPenggajianCtrl.obj.bonus" class="form-control" type="number" placeholder="Bonus">
      </div>
    </div>

    <!-- S:hitung total gaji -->
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Total Gaji</label>
      <div class="col-sm-4">
        <input name="totalGaji" ng-model="modalPenggajianCtrl.obj.totalGaji" class="form-control" type="number" placeholder="Total Gaji" disabled="">
      </div>
      <!-- E:hitung total gaji -->

    </div>
    <div class="modal-footer">

      <button class="btn btn-primary" ng-class="{'btn-danger disabled': formPenggajian.$invalid, 'btn-success': formPenggajian.$valid}" ng-click="modalPenggajianCtrl.save(modalPenggajianCtrl.obj.idPenggajian)">Simpan</button>

      <button class="btn btn-warning" ng-click="modalPenggajianCtrl.cancel()">Cancel</button>

    </div>
  </div>
</form>
