<div class="wrapper">
    <!-- S:Sidebar -->
    <div class="navbar-static-side">
        <div class="sidebar-collapse sidebar-default">
            <div class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group --> 
            </div>
            <ul class="nav" id="side-menu">
                <li>
                    <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Menu 1</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Menu 2<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="">
                                Menu 2.1
                            </a>
                        </li>
                        <li>
                            <a href="morris.html">Menu 2.2</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Menu 3<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Menu 3.1</a>
                        </li>
                        <li>
                            <a href="#">Menu 3.2</a>
                        </li>
                        <li>
                            <a href="#">Menu 3.3 <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#">Menu 3.3.1</a>
                                </li>
                                <li>
                                    <a href="#">Menu 3.3.2</a>
                                </li>
                                <li>
                                    <a href="#">Menu 3.3.3</a>
                                </li>
                                <li>
                                    <a href="#">Menu 3.3.4</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
            <!-- /#side-menu -->
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
    <!-- E:Sidebar -->
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 yk-page-header">
                    <div class="col-lg-6">
                        <h3>Mengelola Jabatan</h3>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-3 margin-top-20">
                        <a ng-click="tambah()" class="btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-plus margin-span"></span>
                            Jabatan
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 text-center margin-top-20">
                    <!-- S:Panel New Data -->
                    <div ng-if="baru" class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                        <div class="panel jabatan panel-default" ng-class='{"panel-success": {{baru}} == true, "panel-success": j.namaStatus == "Aktif", "panel-danger": j.namaStatus == "Tidak aktif" }'>
                            <div class="panel-heading">
                                <input class="form-control" type="text" ng-model="j.namaJabatan" placeholder="Nama Jabatan">
                            </div>
                            <div class="panel-body">
                                <table class="table jabatan">
                                    <tbody>
                                        <tr>
                                            <td colspan="3">
                                                <select class="form-control input-sm" ng-model="j.type" ng-options="t for t in type">
                                                    <option value="">Pilih Jenis :</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="jabatan">
                                                <span class="glyphicon glyphicon-ok margin-span"></span>Status
                                            </td>
                                            <td class="jabatan">:</td>
                                            <td class="jabatan">Aktif</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="" ng-click="add(j)" class="text-center active">
                                    <span class="glyphicon glyphicon-edit margin-span"></span>Simpan= Data</a>
                                <br/>
                            </div>
                        </div>
                    </div>
                    <!--/ E:Panel New Data -->

                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3" ng-repeat="j in jabatan | orderBy:'timeStamps.create':true track by j._id">
                        <!-- S:Panel View Data -->
                        <div class="panel jabatan" ng-class='{"panel-success": j.namaStatus == "Aktif", "panel-danger": j.namaStatus == "Tidak aktif", "hidden": j == edited }'>
                            <div class="panel-heading">
                                <h4 class="text-center">
                                    {{j.namaJabatan}}
                                </h4>
                            </div>
                            <div class="panel-body">
                                <table class="table jabatan">
                                    <tbody>
                                        <tr>
                                            <td class="jabatan">
                                                <span></span>Jenis</td>
                                            <td class="jabatan">:</td>
                                            <td class="jabatan">{{j.type}}</td>
                                        </tr>
                                        <tr>
                                            <td class="jabatan">
                                                <span class="glyphicon glyphicon-{{j.namaStatus | status}} margin-span"></span>Status</td>
                                            <td class="jabatan">:</td>
                                            <td class="jabatan">{{j.namaStatus}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href ng-click="edit(j)" class="text-center gray">
                                    <span class="glyphicon glyphicon-edit margin-span"></span>Ubah Data</a>
                            </div>
                        </div>
                        <!--/ E:Panel View Data -->


                        <!-- S:Panel Edit Data -->
                        <div class="panel jabatan" ng-class='{ "panel-success": j.namaStatus == "Aktif", "panel-danger": j.namaStatus == "Tidak aktif", "show": j == edited, "hidden": j != edited }'>
                            <div class="panel-heading">
                                <input class="form-control" type="text" ng-model="j.namaJabatan" placeholder="Rubah Nama Jabatan">
                            </div>
                            <div class="panel-body">
                                <table class="table jabatan">
                                    <tbody>
                                        <tr>
                                            <td colspan="3">
                                                <select class="form-control input-sm" ng-model="j.type">
                                                    <option value=""></option>
                                                    <option value="Harian">Harian</option>
                                                    <option value="Borongan">Borongan</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <select class="form-control input-sm" ng-model="j.namaStatus">
                                                    <option value="Aktif">Aktif</option>
                                                    <option value="Tidak aktif">Tidak aktif</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href ng-click="simpan(j)" class="text-center active">
                                    <span class="glyphicon glyphicon-edit margin-span"></span>Simpan Data</a>
                                <br/>
                            </div>
                        </div>
                        <!--/ E:Panel Edit Data -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>