<div class="container-fluid margin" ng-init="pengembang = true">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 page-header">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<h3>Mengelola Jabatan 3</h3>
			</div>
			<div class="col-sm-offset-2 col-md-offset-1 col-lg-offset-1 col-md-2 col-lg-2 margin-top-20">
				<input type="checkbox" class="" ng-model="pengembang"> Model Pengembang
			</div>
			<!-- <div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1 margin-top-20"> -->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 margin-top-20">
				<!-- S:Mode User -->
				<a ng-if="!pengembang"  ng-click="saveJabatan()" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-pencil margin-span"></span>Tambah Jabatan 2</a>
				<!-- E:Mode User -->
				<!-- S:Mode pengembang -->
				<a ng-if="pengembang" ng-click="saveJabatan3()" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-pencil margin-span"></span>(Dev) Tambah Jabatan 2</a>
				<!-- E:Mode pengembang -->
			</div>

		</div>
	</div>
	<div class="container">
		<div class="row margin-top-20">
		<p><strong>Page:</strong> {{tableJabatan.page()}}</p>
        <p><strong>Count per page:</strong> {{tableJabatan.count()}}</p>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>#</th>
								<th>Nama Jabatan</th>
								<th>Dibuat</th>
								<th>Dirubah</th>
								<th>Jenis</th>
								<th>Status</th>
								<th>Aksi</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="j in jabatan">
								<th>{{$index+1}}</th>
								<td>{{j.namaJabatan}}</td>
								<td>{{j.timeStamps.create}}</td>
								<td>{{j.timeStamps.update}}</td>
								<td>{{j.type}}</td>
								<td>{{j.namaStatus}}</td>
								<td><button class="btn btn-xs btn-danger" ng-click="hapus(j.key)">Delete</button></td>
							</tr>
						</tbody>
					</table>
					{{jabatan}}
					<!-- <table ng-table="tableJabatan" class="table table-bordered table-responsive table-striped">
						<tr ng-repeat="j in $data">
							<td data-title="'No'" class="text-center">{{$index | noTable:tableKaryawan.page()}}</td>
							<td data-title="'Nip'" sortable="'nip'" class="text-center">{{k.nip}}</td>
							<td data-title="'Nama'" sortable="'namaDepan'" class="text-center">{{k.namaDepan}} {{k.namaBelakang}}</td>
							<td data-title="'Kel. Kerja'" sortable="'kelompokKerja'" class="text-center">{{k.kelompokKerja}}</td>
							<td data-title="'Jabatan'" sortable="'idJabatan'"  class="text-center" ng-repeat="j in jabatan | filter:k.idJabatan">
								{{j.namaJabatan}}
							</td>
							<td data-title="'Dibuat'" sortable="'shift'" class="text-center">{{k.timeCreate}}</td>
							<td data-title="'Dirubah'" sortable="'harga'" class="text-center">{{k.timeUpdate}}</td>
							<td data-title="'Status'" class="text-center">{{k.status}}</td>
							<td data-title="'A'" class="col-aksi"><a class="glyphicon glyphicon-edit" href="/#/karyawan/edit/{{k.nip}}" tooltip='edit'></a></td>
								<td data-title="'No'">{{$index | noTable:tableJabatan.page()}}</td>
								<td data-title="'Nama Jabatan'" sortable="'namaJabatan'">{{j.namaJabatan}}</td>
								<td data-title="'Dibuat'" sortable="'create'">{{j.timeStamps.create}}</td>
								<td data-title="'Dirubah'" sortable="'update'">{{j.timeStamps.update}}</td>
								<td data-title="'Jenis'" sortable="'type'">{{j.type}}</td>
								<td data-title="'Status'" sortable="'namaStatus'">{{j.namaStatus}}</td>
								<td data-title="'Aksi'" ><button class="btn btn-xs btn-danger" ng-click="hapus(j.key)">Delete</button></td>
						</tr>
					</table> -->
			</div>
		</div>
	</div>
</div>