<div class="header">
    <div class="bs-page-header">
        <h4>Mengelola Karyawan</h4>
    </div>
    <!-- / .yk-header -->
</div>
<div class="body">
    <div class="row newline">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <div class="btn-group pull-right">
                <label class="btn btn-primary" ng-model="statusKerja" btn-radio="'Kerja'">Kerja</label>
                <label class="btn btn-primary" ng-model="statusKerja" btn-radio="'Keluar'">Keluar</label>
            </div>
        </div>
    </div>
    <div class="row newline">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Nama</th>
                        <th class="text-center">Jabatan</th>
                        <th class="text-center">Kelompok</th>
                        <th class="text-center">Waktu</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Versi</th>
                        <th class="text-center">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in karyawan.karyawan | filter:root.filter | limitTo:10 track by i.nip">
                        <td class="text-center">{{i.nip}}</td>
                        <td>{{i.namaDepan}} {{i.namaBelakang}}</td>
                        <td class="text-center" title="{{i.detailJabatan}}">{{i.jabatan}}</td>
                        <td class="text-center">{{i.kelompokKerja}}</td>
                        <td class="text-center">{{i.waktu.dibuat | date}}</td>
                        <td class="text-center">{{i.statusKaryawan}}</td>
                        <td class="text-center">{{i.versi}}</td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-primary" ng-click="karyawan.editKaryawan(i)">Edit</button>
                            <button class="btn btn-sm btn-danger" ng-click="karyawan.hapusKaryawan(i)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <pre>{{karyawan.karyawan | filter:root.filter | lengthArray}}</pre> 
            <!-- <pre>{{root.dataKaryawan | filter:root.filter | lengthArray}}</pre>  -->
        </div>
    </div>
</div>
