<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">{{perusahaan}}</a>
    </div> <!-- / .navbar-header -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="item in menu" ng-if="!item.dropdown" ui-sref-active="active">
          <a ui-sref="{{item.href}}"><i class="{{item.ngClass}} margin-span"></i> {{item.menu}}</a>
        </li>
        <li ng-repeat="item in menu" ng-if="item.dropdown" ng-class="{active: $state.includes('{{item.href}}')}">
          <a href="#" class="{{item.ngClass}} dropdown-toggle">{{item.menu}} <i class="{{item.ngClassD}}"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li ui-sref-active="active" ng-repeat="sm in item.submenu">
              <a ui-sref="{{sm.href}}"><i class="{{sm.ngClass}} margin-span"></i> {{sm.submenu}}</a>
            </li>
          </ul>
        </li>
      </ul> <!-- / .nav navbar-nav navbar-right -->
    </div> <!-- / .collapse navbar-collapse -->
  </div> <!-- / .container-fluid -->
</nav>