<div>
	Search :<input type="text" ng-model="ykFilter" class="form-control input-sm" placeholder="Search nama" ng-change="start = 0">
    Limit Data:<input type="number" ng-model="limit" class="form-control input-sm" placeholder="limit data">
    Start array :<input type="number" ng-model="start" class="form-control input-sm" placeholder="start array">	

    <br/>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th class="text-center">#</th>
				<th class="text-center" ng-click="predicate='column1'; reverse=!reverse" >
					Column 1
					<i class="glyphicon margin-icon-left" ng-show="predicate=='column1'" ng-class="{'glyphicon-chevron-up': reverse, 'glyphicon-chevron-down': !reverse}"></i></th>
				<th class="text-center" ng-click="predicate='column2'; reverse=!reverse">Column 2
				<i class="glyphicon margin-icon-left" ng-show="predicate=='column2'" ng-class="{'glyphicon-chevron-up': reverse, 'glyphicon-chevron-down': !reverse}"></i>
				</th>
				<th class="text-center" ng-click="predicate='column3'; reverse=!reverse">Column 3
				<i class="glyphicon margin-icon-left" ng-show="predicate=='column3'" ng-class="{'glyphicon-chevron-up': reverse, 'glyphicon-chevron-down': !reverse}"></i>
				</th>
				<th class="text-center" ng-click="predicate='column4'; reverse=!reverse">Column 4
				<i class="glyphicon margin-icon-left" ng-show="predicate=='column4'" ng-class="{'glyphicon-chevron-up': reverse, 'glyphicon-chevron-down': !reverse}"></i>
				</th>
				<th class="text-center" ng-click="predicate='column5'; reverse=!reverse">Column 5
				<i class="glyphicon margin-icon-left" ng-show="predicate=='column5'" ng-class="{'glyphicon-chevron-up': reverse, 'glyphicon-chevron-down': !reverse}"></i>
				</th>
				<th class="text-center" ng-click="predicate=''"><i class="glyphicon glyphicon-remove"></i></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in data | filter:ykFilter | orderBy:predicate:reverse | startArray:start | limitTo:limit">
				<td class="text-center">{{$index + start + 1}}</td>
				<td class="text-center">{{item.column1}}</td>
				<td class="text-center">{{item.column2}}</td>
				<td class="text-center">{{item.column3}}</td>
				<td class="text-center">{{item.column4}}</td>
				<td class="text-center">{{item.column5}}</td>
				<td class="text-center col-aksi"><a href="#/{{item.aksi}}"><i class="glyphicon glyphicon-edit"></i></a></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan=4>Jumlah</th>
				<th>{{ data | filter:ykFilter | sum:'column4' | currency:"Rp "}}</th>
				<th>{{ data | filter:ykFilter | sum:'column5' | numberFormat:"Rp ":0}}</th>
				<!-- <th class="col-aksi">Aksi</th> -->
			</tr>
		</tfoot>
	</table>
		<ul class="pagination pagination-sm">
			<li>
				<a href="">halaman {{noActive(start, limit)}} dari {{numPage( data, ykFilter, limit ) | lengthArray  | numberFormat:"":0}}</a> <!-- keterangan nomor halaman -->
			</li>
			<li>
				<a href=""><i class="fa fa-backward"></i></a> <!-- nomor halaman pertama -->
			</li>
			<li ng-class="{disabled: (start == 0)}">
				<a href="" ng-click="prevPage()"><i class="fa fa-chevron-left"></i></a> <!-- nomor halaman sebelumnya -->
			</li>
			<li ng-class="{active: (item*limit)==start}" ng-repeat="item in numPage( data, ykFilter, limit ).slice(numPagStart(start, limit),numPagEnd(start, limit))" ng-click="setPage()">
				<a href="" ng-bind="item + 1">1</a> <!-- pengulangan nomor halaman -->
			</li>
			<li ng-class = "{disabled: disabledNextPage()}">
				<!-- ng-class="{disabled: (start >= ((data | filter:ykFilter | lengthArray) - limit))}" -->
				<a href="" ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a> <!-- nomor halaman selanjutnya -->
			</li>
			<li>
				<a href=""><i class="fa fa-forward"></i></a> <!-- nomor halaman terakhir -->
			</li>
		</ul>
	<!-- ui-bootstrap
	<pagination total-items="data.length" items-per-page="limit" page="start" on-select-page="setPage()" on-select-page="setPage()" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination> -->
	<br/>
	<pre>
		orderBy: predicate = {{predicate}} , reverse = {{reverse}}
		orderBy: predicate = {{column2}}
		orderBy: predicate = {{column3}}
		disableNextPage : {{disabledNextPage()}}
		SUM data : {{ data | sum:'column4'}}
		{{limit}} dari {{ data | filter:ykFilter | lengthArray }} baris data
		Jumlah halaman {{ numPage( data, ykFilter, limit ) | lengthArray }}
		Array Semua Nomor Halaman {{ numPage( data, myFilter, limit ) }}
		Number Active : {{noActive(start, limit)}}
		Number Pagination Start : {{numPagStart(start, limit)}}
		Number Pagination End : {{numPagEnd(start, limit)}}
		Array Nomor Halaman yang harus muncul {{ numPage( data, myFilter, limit ).slice(numPagStart(start, limit),numPagEnd(start, limit)) }}
		{{(data | filter:ykFilter | lengthArray) -limit}}
	</pre>
</div>