<div>
	<div class="row" ng-bind="header">
		<!-- konten untuk header -->
	</div> <!--/ .row -->
	<div class="row">
		<div class="col-md-3">
			<!-- <input type="text" class="form-control input-sm" ng-model="ykfilter" ng-change="start = 0">	 -->
		</div> <!--/ .col-md-3 -->
	</div> <!--/ .row -->
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-striped" ng-transclude>
				
				
				<tfoot>
					<tr>
						<th colspan=4>Jumlah</th>
						<th>{{ data | filter:ykfilter | sumByKey:'column4' | currency:"Rp "}}</th>
						<th>{{ data | filter:ykfilter | sumByKey:'column5' | numberFormat:"Rp ":0}}</th>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="col-md-6">
			<!-- konten kiri sejajar dengan pagination -->
		</div>
		<div class="col-md-6" ng-if="numPage().length > 1">
			<ul class="pagination pagination-sm pull-right">
				<li>
					<!-- fungsi: keterangan nomor halaman -->
					<a>halaman {{noActive()}} dari {{numPage().length}}</a> 
				</li>
				<li ng-class="{disabled: (start == 0)}" ng-if="noActive() > 1">
					<!-- fungsi: nomor halaman pertama -->
					<a href="" ng-click="firstPage()"><i class="fa fa-backward"></i></a> 
				</li>
				<li ng-class="{disabled: (start == 0)}" ng-if="noActive() > 1">
					<!-- fungsi: nomor halaman sebelumnya -->
					<a href="" ng-click="prevPage()"><i class="fa fa-chevron-left"></i></a> 
				</li>
				<li ng-class="{active: (item*limit)==start}"
					ng-repeat="item in numPage().slice(numPagStart(),numPagEnd())" 
					ng-click="setPage()">
					<!-- fungsi: pengulangan nomor halaman -->
					<a href="" ng-bind="item + 1">1</a> 
				</li>
				<li ng-class ="{disabled: disabledNextPage()}" ng-if="!disabledNextPage()">
					<!-- fungsi: nomor halaman selanjutnya -->
					<a href="" ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a> 
				</li>
				<li ng-class ="{disabled: disabledNextPage()}" ng-if="!disabledNextPage()">
					<!-- fungsi: nomor halaman terakhir -->
					<a href="" ng-click="lastPage()"><i class="fa fa-forward"></i></a> 
				</li>
			</ul>
		</div> <!--/ pagination -->
	</div> <!--/ .row -->
</div>