<div>
	Search :<input type="text" ng-model="ykFilter" class="form-control" placeholder="Search nama" ng-change="start = 0">
    Limit Data:<input type="number" ng-model="limit" class="form-control" placeholder="limit data">
    Start array :<input type="number" ng-model="start" class="form-control" placeholder="start array">
    <br/>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th class="text-center">#</th>
				<th class="text-center">Column 1</th>
				<th class="text-center">Column 2</th>
				<th class="text-center">Column 3</th>
				<th class="text-center">Column 4</th>
				<th class="text-center">Column 5</th>
				<th class="text-center">A</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in data | filter:ykFilter | startArray:start | limitTo:limit">
				<td class="text-center">{{$index + start + 1}}</td>
				<td class="text-center">{{item.column1}}</td>
				<td class="text-center">{{item.column2}}</td>
				<td class="text-center">{{item.column3}}</td>
				<td class="text-center">{{item.column4}}</td>
				<td class="text-center">{{item.column5}}</td>
				<td class="text-center">{{item.aksi}}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan=4>Jumlah</th>
				<th>{{ data | filter:ykFilter | sum:'column4'}}</th>
				<th>{{ data | filter:ykFilter | sum:'column5'}}</th>
				<th>Aksi</th>
			</tr>
		</tfoot>
	</table>
		<ul class="pagination pagination-sm">
			<li ng-class="{disabled: (start == 0)}"><a href="" ng-click="prevPage()">&laquo;</a></li>
			<li ng-class="{active: (item*limit)==start}" ng-repeat="item in numPage( data, ykFilter, limit )" ng-click="setPage()">
				<a href="" ng-bind="item + 1">1</a>
			</li>
			<li ng-class = "{disabled: disabledNextPage()}">
				<!-- ng-class="{disabled: (start >= ((data | filter:ykFilter | lengthArray) - limit))}" -->
			<a href="" ng-click="nextPage()">&raquo;</a></li>
		</ul>
	<!-- ui-bootstrap
	<pagination total-items="data.length" items-per-page="limit" page="start" on-select-page="setPage()" on-select-page="setPage()" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination> -->
	<br/>
	<pre>
		disableNextPage : {{disabledNextPage()}}
		SUM data : {{ data | sum:'column4'}}
		{{limit}} dari {{ data | filter:ykFilter | lengthArray }} baris data
		Jumlah halaman {{ numPage( data, ykFilter, limit ) | lengthArray }}
		Array Nomor Halaman {{ numPage( data, myFilter, limit ) }}
		{{(data | filter:ykFilter | lengthArray) -limit}}
	</pre>
</div>