<div class="header">
    <div class="bs-page-header">
        <h4>About App</h4>
    </div>
</div>
<div class="body">
	<div class="row newline">
        <div class="col-sm-12">

			<button class="btn btn-primary" ng-click="AboutAppCtrl.addSemuaContohData()">Memuat Semua Contoh Data</button>
			<button class="btn btn-primary" ng-click="AboutAppCtrl.addContohDataJabatan()">Memuat Contoh Data Jabatan</button>
			<button class="btn btn-primary" ng-click="AboutAppCtrl.addContohDataKaryawan()">Memuat Contoh Data Karyawan</button>
			<button class="btn btn-primary" ng-click="AboutAppCtrl.addContohDataRumusGaji()">Memuat Contoh Data Rumus Gaji</button>

        </div>
    </div>
</div>
