<div class="header">
    <div class="bs-page-header">
        <h4 ng-click="root.toggleSidebar()">Mengelola Dashboard</h4>
    </div>
    <!-- / .yk-header -->
</div>
<div class="body">

    <div class="header">
        <div class="bs-page-header">
            <button class="btn btn-sm" ng-click="root.toggleSidebar()">Toggle Sidebar</button>
            <h4>Judul Halaman - {{windowHeight}} - {{windowWidth}} - {{root.withSidebar}} - {{root.filter}}</h4>
        </div>
        <!-- / .yk-header -->
    </div>
    <h1>Area Content dashboard</h1>

</div>
