<div class="container-fluid margin">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 page-header">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<h3>Eksperimen yk-table</h3>
			</div>
			<!-- <div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-3 margin-top-20">
				<a ng-click="saveJabatan()" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-pencil margin-span"></span>Tambah Jabatan</a>
			</div> -->
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<yk-table data='data' limit='itemsPerPage' start='start'>
				<yk-thead></yk-thead>
				<yk-tbody></yk-tbody>
			</yk-table>
			<pagination total-items="bigTotalItems" items-per-page="itemsPerPage" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></pagination>
    		<pre>start array: {{start}} / {{numPages}} - {{bigCurrentPage}}</pre>
		</div>
	</div>
</div>