<div class="container-fluid margin-nav-top">
	<div class="row">
		<div class="col-lg-12">
			<h1>Homee</h1>
			<h1>Home tes update</h1>
		</div>
		<div class="col-lg-12">
			<select ui-select2 ng-model="ng" data-placeholder="ketik sesuatu">
			    <option value="one">First</option>
			    <option value="two">Second</option>
			    <option value="three">Third</option>
			</select>
			<select ui-select2 ng-model="number" data-placeholder="Pick a number">
			    <option value=""></option>
			    <option value="one">First</option>
			    <option value="two">Second</option>
			    <option value="three">Third</option>
			</select>
		</div>
	</div>
</div>