<div class="container-fluid margin">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 page-header">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<h3><a ui-sref="rumus-gaji">Mengelola Rumus Gaji</a></h3>
			</div>
			<div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-3 margin-top-20">
				<div class="input-group">
				    <div class="btn-group">
				        <a ng-repeat="item in rumusGaji" ui-sref-active="active" ui-sref="rumus-gaji.{{item.link}}" class="btn btn-primary">{{item.menu}}</a>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<ui-view></ui-view>
</div>